.wc_cus_table th {
	min-width: 50px;
	text-align: left;
}

.wc_cus_table th:nth-of-type(2) {
	min-width: 200px !important;
}

.ad_cus_table_con {
	margin-top: 20px;
	margin-left: 10px;
}

.cus_input_form_con {
	margin-top: 20px;
	margin-left: 10px;
}
